<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DMAS Breakdown</title>
    <style>
        .value{
            padding-left: 20px;
        }
    </style>
</head>
<body>
    <h2>DMAS Expenditure Breakdown by Age</h2>
    <table cellspacing="12px">
        <thead>
            <tr>
                <td style="padding: 0 20px;">
                    Age Group
                </td>
                <td style="padding: 0 20px;">
                    DMAS Expenditure for Age Group
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    00 Under 1
                </td>
                <td class="value">
                    $362,926,173.10 
                </td>
            </tr>
            <tr>
                <td>
                    01 to 05
                </td>
                <td class="value">
                    $581,355,549.39 
                </td>
            </tr>
            <tr>
                <td>
                    06 to 18
                </td>
                <td class=value>
                    $2,074,503,177.68  
                </td>
            </tr>
            <tr>
                <td>
                    19 to 20
                </td>
                <td class="value">
                    $185,344,564.38  
                </td>
            </tr>
            <tr>
                <td>
                    21 to 44
                </td>
                <td class="value">
                    $2,712,672,828.34 
                </td>
            </tr>
            <tr>
                <td>
                    45 to 64
                </td>
                <td class="value">
                    $2,744,687,453.81 
                </td>
            </tr>
            <tr>
                <td>
                    65 and over
                </td>
                <td class="value">
                    $2,160,601,932.19 
                </td>
            </tr>
        </tbody>
    </table> 
    <a href="\downloadBreakdown">Download Data</a>
    <br>
    <br>
    <a href="info">Go Back to Main Info Page</a>

</body>
</html>