<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DMAS Breakdown</title>
    <style>
        .value{
            padding-left: 15px;
            white-space: nowrap;
        }
        h2{
            padding: 0% 35%;
            white-space: nowrap;
        }
    </style>
</head>
<body>
    <h2>DMAS Expenditure Breakdown by County</h2>
    <a href="info">Go Back to Main Info Page</a>
    <br> 
    <a href="\downloadBreakdown">Download Data</a>
    <table>
        <tbody>
            <tr>
                <td style="padding-left: 50px;">
                    <table cellspacing="12px">
                        <thead>
                            <tr>
                                <td>
                                    <strong>County</strong>
                                </td>
                                <td style="padding-left: 15px;">
                                    <strong>DMAS Expenditure</strong>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Accomack
                                </td>
                                <td class="value">
                                    $70,122,783.64  
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Albermarle
                                </td>
                                <td class="value">
                                    $86,587,735.02 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Alexandria
                                </td>
                                <td class=value>
                                    $129,981,755.30  
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Alleghany
                                </td>
                                <td class="value">
                                    $32,359,005.06  
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Amelia
                                </td>
                                <td class="value">
                                    $21,774,861.26 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Amherst
                                </td>
                                <td class="value">
                                    $58,497,326.90 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Appomattox
                                </td>
                                <td class="value">
                                    $33,502,066.65 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Arlington
                                </td>
                                <td class="value">
                                    $140,653,620.56 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Augusta
                                </td>
                                <td class="value">
                                    $85,001,386.41 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Bath
                                </td>
                                <td class="value">
                                    $5,396,629.08 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Bedford City
                                </td>
                                <td class="value">
                                    $288.74 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Bedford County
                                </td>
                                <td class="value">
                                    $104,904,512.36 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Bland
                                </td>
                                <td class="value">
                                    $8,014,263.36 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Botetourt
                                </td>
                                <td class="value">
                                    $34,819,237.77 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Bristol
                                </td>
                                <td class="value">
                                    $40,747,204.36 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Brunswick
                                </td>
                                <td class="value">
                                    $45,487,517.04 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Buchanan
                                </td>
                                <td class="value">
                                    $57,613,593.10 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Buckingham
                                </td>
                                <td class="value">
                                    $32,137,743.60 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Buena Vista
                                </td>
                                <td class="value">
                                    $12,253,711.77 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Campbell
                                </td>
                                <td class="value">
                                    $92,724,468.09 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Caroline
                                </td>
                                <td class="value">
                                    $43,612,788.04 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Carroll
                                </td>
                                <td class="value">
                                    $62,248,037.81 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Catawba Hospital
                                </td>
                                <td class="value">
                                    $1,749,770.58 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Central Virginia Training Center
                                </td>
                                <td class="value">
                                    $22,716,207.67 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Charles City
                                </td>
                                <td class="value">
                                    $12,460,798.37 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Charlotte
                                </td>
                                <td class="value">
                                    $25,675,705.41 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Charlottesville
                                </td>
                                <td class="value">
                                    $64,496,283.32 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Chesapeake
                                </td>
                                <td class="value">
                                    $281,730,036.26 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Chesterfield
                                </td>
                                <td class="value">
                                    $416,743,306.01 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    City of Manassas
                                </td>
                                <td class="value">
                                    $42,220,439.53 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Clarke
                                </td>
                                <td class="value">
                                    $12,279,968.40 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Colonial Heights
                                </td>
                                <td class="value">
                                    $27,236,218.43 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Covington
                                </td>
                                <td class="value">
                                    $13,457,370.93 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Craig
                                </td>
                                <td class="value">
                                    $6,961,176.77 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Culpeper
                                </td>
                                <td class="value">
                                    $70,923,262.10 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Cumberland
                                </td>
                                <td class="value">
                                    $24,507,728.01 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Danville
                                </td>
                                <td class="value">
                                    $150,599,774.51 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Dejarnette Center
                                </td>
                                <td class="value">
                                    $25,905.99 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Dept of Med Assistance Svcs
                                </td>
                                <td class="value">
                                    $1,621,654.03 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Dickenson
                                </td>
                                <td class="value">
                                    $37,859,998.64 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Dinwiddie
                                </td>
                                <td class="value">
                                    $48,768,597.86 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Eastern State Hospital
                                </td>
                                <td class="value">
                                    $38,551.87 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Emporia
                                </td>
                                <td class="value">
                                    $20,770,935.44 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Essex
                                </td>
                                <td class="value">
                                    $22,377,890.25 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Fairfax City
                                </td>
                                <td class="value">
                                    $14,907,797.07 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Fairfax County
                                </td>
                                <td class="value">
                                    $760,681,297.01 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Falls Church
                                </td>
                                <td class="value">
                                    $3,568,019.60 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Fauquier
                                </td>
                                <td class="value">
                                    $62,143,484.38  
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Floyd
                                </td>
                                <td class="value">
                                    $27,854,533.16 
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="padding-left: 150px;">
                    <table cellspacing="12px">
                        <thead>
                            <tr>
                                <td>
                                    <strong>County</strong>
                                </td>
                                <td style="padding: 0 15px;">
                                    <strong>DMAS Expenditure</strong>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Fluvanna
                                </td>
                                <td class=value>
                                    $27,882,789.00  
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Franklin City
                                </td>
                                <td class="value">
                                    $31,187,102.70  
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Franklin County
                                </td>
                                <td class="value">
                                    $85,459,137.46 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Frederick
                                </td>
                                <td class="value">
                                    $81,253,177.27 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Fredericksburg
                                </td>
                                <td class="value">
                                    $49,682,928.87 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Galax
                                </td>
                                <td class="value">
                                    $23,763,544.05 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Giles
                                </td>
                                <td class="value">
                                    $29,910,299.77 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Gloucester
                                </td>
                                <td class="value">
                                    $48,128,654.55 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Goochland
                                </td>
                                <td class="value">
                                    $18,976,878.69 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Grayson
                                </td>
                                <td class="value">
                                    $30,796,826.67 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Greene
                                </td>
                                <td class="value">
                                    $24,996,255.86 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Greensville
                                </td>
                                <td class="value">
                                    $22,475,155.11 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Halifax
                                </td>
                                <td class="value">
                                    $83,696,140.29 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Hampton
                                </td>
                                <td class="value">
                                    $227,719,468.10 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Hanover
                                </td>
                                <td class="value">
                                    $85,605,503.15 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Harrisonburg
                                </td>
                                <td class="value">
                                    $59,133,024.23 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Henrico
                                </td>
                                <td class="value">
                                    $433,238,191.09 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Henry
                                </td>
                                <td class="value">
                                    $128,055,831.08 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Highland
                                </td>
                                <td class="value">
                                    $2,387,268.98 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Hiram Davis Medical Center
                                </td>
                                <td class="value">
                                    $2,560,164.31 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Hopewell
                                </td>
                                <td class="value">
                                    $64,130,499.84 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Isle of Wight
                                </td>
                                <td class="value">
                                    $44,913,353.32 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    James City County
                                </td>
                                <td class="value">
                                    $45,447,299.16 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    King and Queen
                                </td>
                                <td class="value">
                                    $11,956,431.07 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    King George
                                </td>
                                <td class="value">
                                    $25,440,330.62 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    King William
                                </td>
                                <td class="value">
                                    $18,302,084.41 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Lancaster
                                </td>
                                <td class="value">
                                    $18,492,622.66 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Lee
                                </td>
                                <td class="value">
                                    $68,708,309.99 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Lexington
                                </td>
                                <td class="value">
                                    $6,459,307.42 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Loudoun
                                </td>
                                <td class="value">
                                    $199,751,927.02 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Louisa County
                                </td>
                                <td class="value">
                                    $51,846,841.86 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Lunenburg
                                </td>
                                <td class="value">
                                    $28,876,309.07 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Lynchburg
                                </td>
                                <td class="value">
                                    $143,206,367.79 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Madison
                                </td>
                                <td class="value">
                                    $16,862,766.67 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Manassas Park
                                </td>
                                <td class="value">
                                    $17,493,107.74  
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Martinsville
                                </td>
                                <td class="value">
                                    $56,400,719.01 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Mathews
                                </td>
                                <td class="value">
                                    $14,509,558.98 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Mecklenburg
                                </td>
                                <td class="value">
                                    $62,939,011.12 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Middlesex
                                </td>
                                <td class="value">
                                    $19,252,773.40 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Montgomery
                                </td>
                                <td class="value">
                                    $84,800,656.13 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Nelson
                                </td>
                                <td class="value">
                                    $25,801,904.26 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    New Kent
                                </td>
                                <td class="value">
                                    $18,206,509.58 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Newport News
                                </td>
                                <td class="value">
                                    $306,272,271.40 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Norfolk
                                </td>
                                <td class="value">
                                    $455,420,635.86 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Northampton
                                </td>
                                <td class="value">
                                    $38,859,007.00  
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Northumberland
                                </td>
                                <td class="value">
                                    $18,148,609.28   
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Norton
                                </td>
                                <td class="value">
                                    $8,905,877.08 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Nottoway
                                </td>
                                <td class=value>
                                    $34,032,306.33  
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Orange
                                </td>
                                <td class="value">
                                    $51,308,348.61  
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td style="padding-left: 150px;">
                    <table cellspacing="12px">
                        <thead>
                            <tr>
                                <td>
                                    <strong>County</strong>
                                </td>
                                <td style="padding: 0 15px;">
                                    <strong>DMAS Expenditure</strong>
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            
                            <tr>
                                <td>
                                    Page
                                </td>
                                <td class="value">
                                    $38,773,198.09 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Patrick
                                </td>
                                <td class="value">
                                    $36,101,536.02 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Petersburg
                                </td>
                                <td class="value">
                                    $124,919,620.45 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Piedmont Geriatric Hospital
                                </td>
                                <td class="value">
                                    $21,225,961.06
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Pittsylvania
                                </td>
                                <td class="value">
                                    $120,702,712.22 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Poquoson
                                </td>
                                <td class="value">
                                    $5,367,574.30 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Portsmouth
                                </td>
                                <td class="value">
                                    $225,906,835.42 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Powhatan
                                </td>
                                <td class="value">
                                    $21,810,179.95 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Prince Edward
                                </td>
                                <td class="value">
                                    $42,817,207.88 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Prince George
                                </td>
                                <td class="value">
                                    $37,369,594.40 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Prince William
                                </td>
                                <td class="value">
                                    $403,196,831.54 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Pulaski
                                </td>
                                <td class="value">
                                    $65,932,169.78 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Radford
                                </td>
                                <td class="value">
                                    $18,318,436.19 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Rappahannock
                                </td>
                                <td class="value">
                                    $5,818,817.23 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Richmond City
                                </td>
                                <td class="value">
                                    $508,856,670.18 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Richmond County
                                </td>
                                <td class="value">
                                    $14,191,977.10 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Roanoke City
                                </td>
                                <td class="value">
                                    $248,669,361.67 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Roanoke County
                                </td>
                                <td class="value">
                                    $122,266,523.63 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Rockbridge
                                </td>
                                <td class="value">
                                    $33,237,813.57 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Rockingham
                                </td>
                                <td class="value">
                                    $79,325,213.63 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Russell
                                </td>
                                <td class="value">
                                    $55,908,944.58 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Salem
                                </td>
                                <td class="value">
                                    $801,855.37 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Scott
                                </td>
                                <td class="value">
                                    $42,893,790.85 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Shenandoah
                                </td>
                                <td class="value">
                                    $68,834,051.36 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Smyth
                                </td>
                                <td class="value">
                                    $67,252,475.03 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Southampton
                                </td>
                                <td class="value">
                                    $35,063,933.15 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Southeastern VA Training Center
                                </td>
                                <td class="value">
                                    $2,346,888.36 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Southern VA Mental Health Inst
                                </td>
                                <td class="value">
                                    $3,002.13 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Southside VA Training Center
                                </td>
                                <td class="value">
                                    $113.97 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Southwestern VA Mental Health Inst
                                </td>
                                <td class="value">
                                    $32,512,884.04 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Southwestern VA Training Center
                                </td>
                                <td class="value">
                                    $160,131.87 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Spotsylvania
                                </td>
                                <td class="value">
                                    $163,072,482.09 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Stafford
                                </td>
                                <td class="value">
                                    $129,833,032.79  
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Staunton
                                </td>
                                <td class="value">
                                    $44,489,506.39 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Suffolk
                                </td>
                                <td class="value">
                                    $154,150,302.77 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Surry
                                </td>
                                <td class="value">
                                    $10,144,438.52 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Sussex
                                </td>
                                <td class="value">
                                    $24,129,674.53 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Tazewell
                                </td>
                                <td class="value">
                                    $83,174,393.63 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Virginia Beach
                                </td>
                                <td class="value">
                                    $447,327,736.89 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Warren
                                </td>
                                <td class="value">
                                    $52,331,646.83 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Washington
                                </td>
                                <td class="value">
                                    $81,704,035.61 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Waynesboro
                                </td>
                                <td class="value">
                                    $45,528,262.38 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Westmoreland
                                </td>
                                <td class="value">
                                    $32,287,038.64   
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Williamsburg
                                </td>
                                <td class="value">
                                    $11,397,047.54   
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Winchester
                                </td>
                                <td class="value">
                                    $49,695,927.19   
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Wise
                                </td>
                                <td class="value">
                                    $91,025,063.43   
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Wythe
                                </td>
                                <td class="value">
                                    $57,044,022.95   
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    York
                                </td>
                                <td class="value">
                                    $37,699,426.29   
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>      
</body>
</html>