<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DMAS Info</title>
</head>
<body>
    <h2>Information About Dept of Med Assistance Svcs</h2>
    <h4>Incoming Funding:</h4>
    <p>$10,806,002,924 from Office of Health and Human Resources</p>
    <h4>Funding is spent on the following areas:</h4>
    <p>$244,573,284 to Administrative & Support Svcs - DMAS</p>
    <p>$224,263,393 to Childrn'S Hlth Ins Pgm Delivry - DMAS</p>
    <p>$28,810,945 to Fin Asst-Health Research - DMAS</p>
    <p>$168,877,896 to Med Asst -Low Income Children - DMAS</p>
    <p>$63,899,573 to Med Asst Mgmt Svcs (Forecast) - DMAS</p>
    <p>$1,370,789 to Med Asst Svcs (Non-Medicaid) - DMAS</p>
    <p>$10,055,205,423 to Medicaid Program Services - DMAS</p>
    <p>$19,001,621 to Pre-Trial/Trial/Appellate Proc - DMAS</p>
    <a href="https://budget.lis.virginia.gov/secretariat/2018/2/HB5001/Chapter/1/office-of-health-and-human-resources#:~:text=medical%20assistance">Click here to view the Budget Bills associated with DMAS</a>
    <br>
    <br>
    <a href="ageBreakdown">Click Here to see Expenditure Breakdown by Age</a>
    <br>
    <br>
    <a href="countyBreakdown">Click Here to see Expenditure Breakdown by County</a>
</body>
</html>